$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Sans-Serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

.grid-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.tileRow{
  margin-bottom: -5px;
  .tile{
    display: inline-block;
    position: relative;
    width: 20%;
    padding-bottom: 20%;
    margin-right: -1px;
    margin-bottom: -5px;
    background: #E5E2EB;
    text-align: center;
    cursor: pointer;
    border: 1px solid #777777;
    &:hover{
      background: #BFB7CD;
    }
    p{
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
    }
    &.title{
    padding-bottom: 5%;
    background: #BFB7CD;
    cursor: auto;
    p{
      font-weight: bold;
    }&:hover{
      background: #BFB7CD;
    }
  }
  }
  .tileSelected{
    background: #9589AD;
  }
  .FishMoley, .FishMoley:hover{
    background: url("../images/FishMoley.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #9589AD;
    border: 1px solid #777777;
    p{
      display: none;
    }
  }
}


#confetti{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.navbar{
  margin-bottom: 0;
  border: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 20px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
