<div class="grid-wrapper" ng-controller="BingoCtrl as bingo">
  <canvas id='confetti' width='100%' height='100%' ng-show="bingo.confetti" class="ng-hide" ng-click="bingo.reset()"></canvas>
  <audio id="audiotag1" src="assets/party_horn.mp3" preload="auto"></audio>
  <div class="tileRow">
    <div class="tile title"><p>B</p></div><div class="tile title"><p>I</p></div><div class="tile title"><p>N</p></div><div class="tile title"><p>G</p></div><div class="tile title"><p>O</p></div>
  </div>
  <div class="tileRow" ng-repeat="rows in bingo.grid">
    <div class="tile" ng-class="{tileSelected:  tile.hit, FishMoley: tile.phrase === bingo.bingoInfo.freeSpace}" ng-repeat="tile in rows" ng-click="bingo.selectTile(tile)"><p>{{tile.phrase}}</p></div>
  </div>
</div>